<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../static/img/logo.png">
        <link rel="stylesheet" href="../../static/css/globals.css">
        <link rel="stylesheet" href="../../static/css/home.css">
        <title>Home</title>
    </head>
    <body>
        <div class="page-wrapper">
            {{ template "navbar" . }}
    
            <main>
                <h1>Welcome to the Home Page</h1>
            </main>
    
            {{ template "footer" . }}
        </div>
    </body>
</html>