<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../static/img/logo.png">
        <link rel="stylesheet" href="../../static/css/globals.css">
        <link rel="stylesheet" href="../../static/css/login.css">
        <title>Sign up | ScheduleFlow</title>
    </head>
    <body>
        <div class="page-wrapper">
            {{ template "navbar" . }}
            
            <main>
                <form action="/login" method="POST">
                    <div class="sign-up-wrapper">
                        <button>
                            Sign In
                            <span class="underline"></span>
                        </button>
                        <button>
                            Sign Up
                            <span class="underline"></span>
                        </button>
                    </div>
    
                    <div class="credentials">
                        <div class="form-group">
                            <label for="email">Email Address</label><br/>
                            <input type="email" id="email" name="email" placeholder="you@adaptcn.org" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label><br/>
                            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        </div>

                        <div class="forgot-password">
                            <a>Forgot password?</a>
                        </div>

                        <button type="submit">Sign In</button>
                        <div class="form-divider">or</div>
                        <button type="submit">Sign in with Microsoft</button>
                    </div>
    
                    <div class="form-footer">
                        Don't have an account? <a>Sign up</a>
                    </div>
    
                </form>
            </main>
    
            {{ template "footer" . }}
        </div>

        <!-- Alpine plugins -->
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </body>
</html>