.page-wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50vw;
    margin: auto;
}

main{
    display: flex;
}

form .sign-up-wrapper{
    display: flex;
    justify-content: center;
}

form .sign-up-wrapper button{
    padding: 0.5rem 1rem;
}