form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50vw;
    margin: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}